@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
.card {
  min-height: 20rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

.card .card-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-gradient {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b3333), to(black));
  background: linear-gradient(#3b3333, black);
  opacity: 0.2;
}

.card .card-title {
  background: transparent;
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 70%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 0.5rem;
  margin: auto;
  font-family: var(--montserat);
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.categories .category-link {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  background: linear-gradient(35deg, #686161, black);
  border-radius: 50%;
  text-decoration: none;
  color: var(--clr-grey-7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.categories .category-link svg {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.categories .category-link h4 {
  font-size: 0.7rem;
}

.categories .category-link.active {
  background: -webkit-gradient(linear, left top, right top, from(#f09307), to(#fc0404));
  background: linear-gradient(to right, #f09307, #fc0404);
  color: white;
}

.search-container {
  padding: 2rem;
  width: 80%;
  margin: auto;
  position: relative;
}

.search-container svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8%;
  margin: auto;
  color: var(--clr-grey-8);
}

.search-container input {
  width: 100%;
  background: linear-gradient(35deg, #463c3c, black);
  padding: 0.5rem 3rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  color: var(--clr-grey-8);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 80%;
}

.wrapper .image-container img {
  border-radius: 1rem;
  width: 100%;
}

.wrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clr-grey-3);
}

.wrapper .info .badge {
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  background-color: #d7dde2;
}

.wrapper .info .info-title {
  padding: 1rem 0;
}

.wrapper .info .info-healthy-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .info .info-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.wrapper .info .info-btn-container button {
  font-family: inherit;
  padding: 0.5rem 4rem;
  background: #333333;
  color: white;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.wrapper .info .info-btn-container .active {
  background: white;
  border: 2px solid #2e2e2e;
  color: black;
}

.wrapper .info .info-wrapper {
  width: 90%;
}

/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --montserat: 'Montserrat', sans-serif;
  --lobster: 'Lobster Two', cursive;
}

/*
  =============== 
  Global Styles
  ===============
  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--montserat);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

.App .loader {
  position: fixed;
  top: 20%;
  left: 50%;
}

.App .section {
  width: 80vw;
  max-width: 800px;
  margin: auto;
}

.App .section .section-title {
  text-align: center;
  padding: 1rem;
}

.App .section .cards {
  padding: 2rem;
}
/*# sourceMappingURL=App.css.map */