@import '_normalize.scss';
@import '_variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.App {

    .experience-section {
        margin: auto;
        padding-top: 5rem;
        line-height: 1.5;
        max-width: 1000px;

        .loading {
            text-align: center;
        }

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3rem;

            h1 {
                margin: 0.5rem;
                font-size: 2rem;
            }

            .underline {
                width: 6rem;
                height: 0.3rem;
                background-color: $primary;
            }
        }

        .jobs-container {
            display: flex;
            height: 20rem;

            .btn-container {
                min-width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .btn {
                    background-color: transparent;
                    border: none;
                    width: 60%;
                    margin-bottom: 0.5rem;
                    padding: 0.5rem 0;
                    border-left: 2px solid transparent;
                    cursor: pointer;

                    &:hover {
                        border-left: 2px solid $primary;
                        color: $primary;
                    }
                }

                .active {
                    border-left: 2px solid $primary;
                    color: $primary;
                }

            }

            .job-info {
                display: flex;
                flex-grow: 1;

                .job-title {
                    font-size: 1.5rem;
                    margin: 0;
                }

                .company {
                    color: gray;
                    font-size: 1rem;
                    padding: 0.3rem 1rem;
                    border: none;
                    border-radius: 0.5rem;
                    margin: 0.5rem 0;
                    background-color: rgb(209, 206, 206);
                }

                .date {
                    color: rgb(175, 173, 173);
                    font-weight: 400;
                    letter-spacing: 0.3rem;
                }

                .job-desc {
                    display: flex;
                    align-items: center;

                    .job-icon {
                        min-width: 1rem;
                        color: $primary;
                        font-size: 1.5rem;
                        padding: 0 1rem 0 0;
                    }
                }
            }
        }
    }
}