@import '_normalize.scss';
@import '_variables.scss';
@import '_mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {

    background-color: rgb(233, 232, 232);
    height: 100vh;

    .nav-container {
        background-color: rgb(240, 239, 239);
        box-shadow: 0 0 10px 2px gray;

        .nav-center {
            max-width: 960px;
            margin: auto;

            .nav-header {
                padding: 2rem 2rem 0rem 2rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;


                @include responsive_960 {
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    padding-bottom: 2rem;
                }

                .logo-container {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;

                    @include responsive_960 {
                       
                    }

                    .logo {
                        width: 4rem;
                    }

                    h1 {
                        color: rgb(49, 190, 209);
                        font-size: 2rem;
                        margin-left: 0.3rem;
                    }

                }

                .btn-bars {
                    padding: 1rem;
                    border: none;
                    cursor: pointer;
                    outline: none;

                    @include responsive_960 {
                        display: none;
                    }

                    &:hover {
                        background-color: rgb(230, 230, 230);
                    }
                }

                .rotate-down {
                    transform: rotate(-90deg);
                    transition: all 1s;
                }

                .rotate-up {
                    transform: rotate(-180deg);
                    transition: all 1s;
                }


                .links-container {
                    height: 0;
                    overflow: hidden;
                    width: 100%;
                    text-transform: capitalize;
                    transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);

                    @include responsive_960 {
                        height: auto;
                    }

                    .links {
                        @include responsive_960 {
                            display: flex;
                            justify-content: center;
                        }

                       

                        .link {
                            cursor: pointer;
                            list-style: none;
                            padding: 0.5rem;
                            transition: all 0.5s;

                            &:hover {
                                background-color: rgb(177, 222, 243);
                                padding-left: 1rem;
                            }
                        }

                    }
                }

                .show-container {
                    height: 12rem;

                    @include responsive_960 {
                        height: auto;
                    }

                }

                .social-icons {
                    display: none;

                    @include responsive_960 {
                        display: flex;
                    }

                    li {
                        padding: 0.5rem;
                        list-style: none;

                        span {
                            color: rgb(79, 166, 192);
                        }
                    }
                }
            }
        }
    }
}